# STEAM DATA TREND (2024)

# DESCRIPTION

We want to chart:
Average playtime vs publisher class
Average playtime vs review score
Average playtime vs price

# MISC

-- Data set did not specify currency, had to double check to make sure  
-- Some games might have been translated indepdently, steamId still valid  
-- Some games are incorrectly labeled or missing information (WWE 2k24 was deluxe edition)  
-- Found a price outlierr in wwe 2k24 since (99.99)  
-- Revenue data based on estimates

## About this data set:
This dataset contains comprehensive information on the top 1500 games released on Steam between January 1, 2024, and September 9, 2024. Aggregated from 30 separate files, and combined into a single dataset. Minor adjustments were made, such as aligning game release dates for consistency.

## Key Features:
Game Details: Includes titles, release dates, and developer/publisher information.
Sales and Revenue: Tracks the number of copies sold, revenue generated, and pricing details.
Player Engagement: Provides average playtime, peak player counts, and other user engagement metrics.
Reviews and Scores: Features review scores and ratings.
Dynamic Market Data: Offers insights into game performance trends over time, such as sales rank and price fluctuations.

In [17]:
import pandas as pd

data = pd.read_csv('./Steam_2024_bestRevenue_1500.csv')


data.sort_values(by='price', ascending=False, inplace=True)

#data cleaning
#data.isna().sum()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1500 entries, 0 to 1197
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            1500 non-null   object
 1   releaseDate     1500 non-null   object
 2   copiesSold      1500 non-null   int64
 3   price           1500 non-null   float64
 4   revenue         1500 non-null   float64
 5   avgPlaytime     1500 non-null   float64
 6   reviewScore     1500 non-null   int64
 7   publisherClass  1500 non-null   object
 8   publishers      1499 non-null   object
 9   developers      1498 non-null   object
 10  steamId         1500 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 140.6+ KB

Will investigate  missing developers and publishers

In [10]:
data[data['developers'].isna()]

,name,releaseDate,copiesSold,price,revenue,avgPlaytime,reviewScore,publisherClass,publishers,developers,steamId
643,YUME 4,12-01-2024,18572,4.99,54457.0,1.225076,78,Indie,Lovely Games,NaN,2602730
765,Hypnosis Card,19-01-2024,10812,4.99,41891.0,2.016618,77,Indie,Lovely Games,NaN,2544990

In [7]:
data[data['publishers'].isna()]

,name,releaseDate,copiesSold,price,revenue,avgPlaytime,reviewScore,publisherClass,publishers,developers,steamId
710,Pixel Noir,08-02-2024,3129,24.99,47871.0,8.461324,67,Hobbyist,NaN,SWDTech Games,754320

Using Steam ID we identified developers and publishers for the missing data

In [18]:
data.loc[data['steamId'] == 2602730, 'developers'] = 'Lovely Games'
data.loc[data['steamId'] == 2544990, 'developers'] = 'Naku kinoko'
data.loc[data['steamId'] == 754320, 'publishers'] = 'SWDTech Games'

In [20]:
data[data['developers'].isna()]
data[data['publishers'].isna()]

Empty DataFrame
Columns: [name, releaseDate, copiesSold, price, revenue, avgPlaytime, reviewScore, publisherClass, publishers, developers, steamId]
Index: []